# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# django related
*.sqlite3

# statics
*.static/

.vscode/
*.media/*
*.gif
.coverage

log/
.venv/
.env
target/
