[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "pypi"

[packages]
ipython = "*"
sanic = "*"
ipdb = "*"
uvloop = "*"
django = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
sanic = "*"

[requires]
python_version = "3.6"
