[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"

[packages]
ipython = "*"
sanic = "*"
ipdb = "*"
uvloop = "*"
django = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
sanic = "*"

[requires]
python_version = "3.6"
