[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"

[packages]
ipython = "*"
sanic = "*"
ipdb = "*"
uvloop = "*"
django = "*"
peewee = "*"
aiohttp = "*"
yapf = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
sanic = "*"
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.6"
